.content {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 40px;
  pointer-events: none;
  text-align: center;
  z-index: 99999;
  .message {
    padding: 8px 16px;
    max-width: 80%;
    display: inline-block;
    color: white;
    background: rgba(17, 21, 39, 0.7);
    border-radius: 12px;
    margin:0 auto 20px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
  }
}
